<main id="dashboard" role="main" class="main">
  <div class="content center">
    <div class="video-background">
      <video autoplay="true" muted loop id="background-video" #backgroundVideo>
        <source src="../../../assets/images/background-video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="overlay"></div>
      <div class="text-content">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h2 style="color: #6528d8;">Designed exclusively<br>for riders.
          <span class="type-text" style="display: inline;" #typewriterText [@typewriter]>By riders.</span>
        </h2>
        <div class="span">It's time to shift gears.</div>
        <div class="app" style="margin-left: 970px;">
          <a href="#" target="_blank"><img src="assets/images/apple-badge.png" alt="iOS"></a>
          <a href="#" target="_blank"><img class="ms-3" src="assets/images/google-play-badge.png" alt="Play Store"></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="carousel-container">
        <div class="carousel-overlay"></div>
        <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="true"
          [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
          <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
              <div class="mb-3">
                <img src="{{ product.image }}" [alt]="product.name" class="w-6 shadow-2" style="width: 1200ox;"
                  height="500px" />
              </div>
              <div>
                <h3 class="mb-1" style="color: white;"><b>{{ product.name }}</b></h3>
                <h5 class="mb-1" style="color: white;">{{ product.message }}</h5>
                <h5 class="mb-1" style="color: white;">{{ product.message2 }}</h5>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="navigation-example">
      <h1 class="d-flex text-white mb-4 justify-content-center">WHY CHOOSE US?</h1>
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center min-vh-lg-100 text-white" style="padding-top: 29px;">
          <ul class="section-list" style="font-size: 21px;">
            <li>Effortless ride planning.</li>
            <li>A truly transcending ride experience.</li>
            <li>Unforgettable scenic route recommendations.</li>
            <li>Immersive journeys beyond just transportation.</li>
            <li>Best place to hang-out when you are not on your bike.</li>
            <li>Seamless integration with GPS for easy route planning.</li>
          </ul>
        </div>
        <div class="col-md-6 col-12 sm-py-mobile justify-content-center">
                <div class="pb-sm-4 row">
                    <div class="col-md-6 col-12 t-center xs-pb-mobile text-center">
                      <img class="pb-sm-1 xxs-pb-mobile" src="../../../assets/images/helmet.jpg" style="width: 100px; display: block; margin: auto;" alt="">
                      <h5 class="text-white single-line">Safety First Approach</h5>
                    </div>
                    <div class="col-md-6 col-12 t-center xs-pb-mobile text-center">
                      <img class="pb-sm-1 xxs-pb-mobile" src="../../../assets/images/namaste.jpg" style="width: 100px; display: block; margin: auto;" alt="">
                      <h5 class="text-white single-line">Welcoming &amp; Friendly Guides</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12 t-center xs-pb-mobile text-center">
                      <img class="pb-sm-1 xxs-pb-mobile" src="../../../assets/images/street-map.jpg" style="width: 100px; display: block; margin: auto;" alt="">
                      <h5 class="text-white single-line">Smartly Planned Itinerary</h5>
                    </div>
                    <div class="col-md-6 col-12 t-center xs-pb-mobile text-center">
                      <img class="pb-sm-1 xxs-pb-mobile" src="../../../assets/images/teamwork.png" style="width: 100px; display: block; margin: auto;" alt="">
                      <h5 class="text-white single-line">No Outsourcing Own</h5>
                    </div>
                </div>
            </div>
      </div>
    </div>
    
    <div class="elements-row elements-row-one">
      <div class="elements-row-col left-col">
        <div class="phone-image scroll-animated animate">
          <img class="scroll-animated animate" src="assets/images/ride-planning.png" alt="Ride planning">
        </div>
      </div>
      <div class="elements-row-col right-col">
        <div class="text">
          <div class="txt-sec">
            <h3>Ride planning <br> at our fingertips</h3>
            <ul class="section-list">
              <li>Create <strong>Ride Cards</strong> with detailed itinerary for group &amp; solo rides; single or multi
                day</li>
              <li>Route planning, weather tracking, time scheduling</li>
              <li>Add riding positions &amp; checklists</li>
              <li>Invite other riders to join</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="elements-row elements-row-two">
      <div class="elements-row-col left-col">
        <div class="text">
          <div class="txt-sec">
            <div class="txt-sec-inner" style="background: #fff;
            color: #666;
            color: #333;
            font-family: 'SF Compact Display', sans-serif;
            font-weight: 300;">
              <h2>
                Makes a pack <br>
                look like a pack
              </h2>
              <ul class="section-list" style="font-size: 21px;">
                <li>Your very own <strong>Members-only</strong> Group Page</li>
                <li>Plan rides for the group, share ride stories</li>
                <li><strong>Pack Track Navigation</strong> - see all group riders on your screen while riding</li>
                <li>Group chats &amp; feeds, run polls</li>
                <li>Group Performance Tracking</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="elements-row-col right-col">
        <div class="phone-image">
          <img class="scroll-animated animate" src="assets/images/riding.png" alt="Ride planning">
        </div>
      </div>
    </div>
    <div class="elements-row elements-row-three">
      <div class="elements-row-col left-col">
        <div class="phone-image">
          <img src="assets/images/hand.png" alt="Ride planning">
        </div>
      </div>
      <div class="elements-row-col right-col">
        <div class="text">
          <div class="txt-sec">
            <h2>
              Brotherhood <br>
              that’s truly digital
            </h2>
            <ul class="section-list">
              <li>Connect with other riders &amp; groups globally</li>
              <li>Share stories, follow influencers</li>
              <li>Explore new rides, routes, destinations, biker events</li>
              <li>Tap into Biker Exclusive content: launches, reviews, reports, stories from the world of motorbiking
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p>Hi</p>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="logo" src="../../../assets/images/logo4.png">
            <div class="footer-link">
              <a href="mailto:vroom@globalriders.co">vroom&#64;globalriders.co</a>
            </div>
            <br>
            <div class="footer-link">
              <a href="/terms-and-conditions.html">Terms &amp; Conditions</a><br>
              <a href="/privacy-policy.html">Privacy Policy</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mail">Stay Connected</div>
            <div class="clearfix"></div>
            <div class="social">
              <a target="_blank" href="#">
                <img src="assets/images/social-fb.svg" alt="Twitter Logo">
              </a>
              <a target="_blank" href="#">
                <img src="assets/images/social-linked.svg" alt="Twitter Logo">
              </a>
              <a target="_blank" href="#">
                <img src="assets/images/social-insta.svg" alt="Twitter Logo">
              </a>
              <a target="_blank" href="#">
                <img src="assets/images/social-twitter.svg" alt="Twitter Logo">
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</main>