
.positive {
    color: #00c9a7;
}

.negative {
    color: #ed4c78;
}

body {
    background-color: #fff !important;
}

.form-css {
    margin: 15px 0px;
}

.brand-logo {
    width: auto;
    min-width: unset;
    max-width: unset;
    height: 80px;
    filter: unset;
    margin-left: 10px;
    margin-bottom: 0px !important;
}

@media (min-width: 1200px) {
    .display-5 {
        font-size: 1.5rem;
    }
}

.display-5 {
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 600;
    line-height: 1.2;
}

.error-message3 {
    min-height: 1.4em;
    display: flex;
    position: relative;
}

.error-message2 {
    min-height: 1.4em;
    display: flex;
    position: relative;
}