<div class="position-relative">
   <div class="text-overlay"></div>
   <div class="text-color">
     <div class="mb-4 mt-4 mb-lg-8 text-center">
       <h1>Your Ride Experience, Elevated</h1>
       <p class="px-md-10 px-3">From planning your exhilarating rides to tracking your journey's every twist and turn, GlobalRiders offers an all-in-one platform with our comprehensive biking toolkit.</p>
     </div>
     <div class="position-relative text-center zi-1 mb-2">
       <small class="fw-bold text-body mt-4">© GlobalRiders</small>
     </div>
   </div>
 </div>
 