.link-secondary,
.text-secondary,
.text-muted,
.text-body {
    color: #6528d8 !important;
}

.text-color {
    color: white;
    text-shadow: black;
}

.text-color h1,
.text-color p,
.text-color small {
    text-shadow: 1px 1px 2px rgba(0.396, 0.157, 0.847, 1);
}

/* Add a semi-transparent overlay */
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    /* Adjust opacity as needed */
}

/* Adjust font size and weight */
.text-color h1 {
    font-size: 2.5rem;
    /* Adjust as needed */
    font-weight: bold;
}

.text-color p {
    font-size: 1.3rem;
    /* Adjust as needed */
}

.text-color small {
    font-size: 1.2rem;
    /* Adjust as needed */
    font-weight: bold;
}