.invalid-feedback {
    display: block !important;
    line-height: normal !important;
    color: #fe0505 !important;
}
.error-message {
    min-height: 1.5em;
    display: inline-block;
    position: relative;
}

.required {
    color: #fe0505;
}